<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="io.lotsandlots.etrade.EtradeBuyOrderCreator" level="debug" />
    <logger name="io.lotsandlots.etrade.EtradeOrdersDataFetcher" level="debug" />
    <logger name="io.lotsandlots.etrade.EtradePortfolioDataFetcher" level="debug" />
</configuration>