<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>${user.home}/lotsandlots.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/lotsandlots.%d.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="io.lotsandlots.etrade.EtradeBuyOrderController" level="debug"/>
    <logger name="io.lotsandlots.etrade.EtradeOrderCreator" level="debug"/>
    <logger name="io.lotsandlots.etrade.EtradeOrdersDataFetcher" level="debug"/>
    <logger name="io.lotsandlots.etrade.EtradePortfolioDataFetcher" level="debug"/>
    <!-- <logger name="io.lotsandlots.etrade.rest.EtradeRestTemplate" level="debug"/> -->
    <logger name="io.lotsandlots.etrade.EtradeSellOrderController" level="debug"/>

    <logger name="io.lotsandlots.util.EmailHelper" level="debug"/>
    <logger name="javax.mail.*" level="debug"/>
</configuration>